* {
    margin: 0%;
}

/* common shared styles  */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;


}

/* header styles  */
.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 90px;


}

.banner {
    padding: 197px 0px 147px 240px;
    align-items: center;
    justify-content: space-between;
}


.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;

}

.flower {
    padding: 50px 240px 0 0;


}

/* Featured styles */
.Featured {
    margin: 178px 240px 0 240px;
    text-align: center;
}

.Featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.Featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.Pink-Flower-Tree {
    text-align: center;
}

.flower-bacground-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    padding: 110px 78px 0 76px;
    margin: 48px 0 32px 0;
}

.flower-bacground-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    padding: 110px 78px 0 76px;
    margin: 48px 0 32px 0;
}

.flower-bacground-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    padding: 110px 78px 0 76px;
    margin: 48px 0 32px 0;
}

.Flower-Tree-description {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.Flower-Tree {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin: 0px 240px 0px 240px;
}

/* support styles */
.support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px 240px;
    height: 320px;


}

.support-info {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding: 86px 175px;


}

.support-image {
    margin-bottom: 24px;
}

/* hot-deal styles */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);


}

.hot-deal-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 400px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

span {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.hot-deal-info {
    text-align: center;
}

/* instagram styles */
.instagram{
   margin: 128px 240px;
}
.instagram-details{
    text-align: center;
}
.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48;
}
.instagram-images{
    display: flex;
    margin-top: 48px;
    gap: 24px;
    
}
